export COMMERCETOOLS_CLIENT_ID=
export COMMERCETOOLS_CLIENT_SECRET=
export COMMERCETOOLS_PROJECT_KEY=

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

export AWS_PROFILE=
export AWS_ASSUME_ROLE=