terraform-provider-commercetools
terraform-provider-commercetools_*
*.backup
/dist/*
coverage.txt

// Terraform files
.terraform/
terraform.*
crash.log


// Local files
/local/*
!/local/*.example

// Go modules
vendor/

/.idea
