terraform-provider-commercetools
*.backup
/dist/*
coverage.txt

// Terraform files
*.tf
.terraform/
terraform.*
crash.log

// Editor files
.vscode
.idea

// Local files
/local/*
!/local/*.example

// Go modules
vendor/
