language: go

go:
  - "1.11"

env:
  global:
    - TF_ACC=1
    - CTP_AUTH_URL="https://auth.sphere.io"
    - CTP_API_URL="https://api.sphere.io"
    - CTP_SCOPES="manage_project:terraform-provider-commercetools-32"
    - secure: YGKWHbOtOGa8jn/V/edcjl1tUMJW5wPg52X2ingCqPSwNuaniEUM0w0iWrKnHF6QBw3/z4qiMbQE0OZgKIgO6lEK/U3TyFP+bBfrpyZOy2vkKodcYxpwgabZ9okURfl0oAw4zMoRiexTbRgtzbT2XBA4l1pN1Tz7u5pD6f/LZo5hke1KeefCXwcmxvrR0XR26zK0WD3CiIbBYycC8Y94caTI0qhOdNGCPwuy2KrvyZdtNt/7LO7noVsm4eac7mSLUutyAKPrqe//x/7h6s1XG8Hx37jvEqEVqdPFx6ErW/WoSfxPXInHjk6UuQu1ORokkVcaa6dSfFCV0vrKRA4qZWftK/rxwCcHRPZMA527HGgw3Ay9BCyIILeNKYt7cTBevmSwdGpzGVjkm6DaIeO2AhlLO2k1n+yJ0H1gfDUGifZfSV90MXkDyjXJiyIgjXyjq93undzP9Qg2qzE4F/1ooOT7gWPFxMiA/g+u2ExBeD321Djk+wnue7LT2taUF6RjIxF1IFg0kmnIaaNgGIHb2tkZr4voaGeFt+ygJW8Il5AZcQLDYw/T8ksa4WokNrFti93WQT7lrt+lOPuXKGYpkf4wBE9kd4oDxOOk36f8yxMxTqPZqqh2gzqvFUotAr2/QD0D6OPeiZaIAXY2qDJp03gkNLgz8H2cP9oaiwp/5d8=
    - secure: FIDqSPSnVwmDtptYdyAIjDSGb2tnkXWKA5v3sdewXrAQW2S5h84zvTDnbhlAs+i2CiIDlXly8NNSmjqHhczsFhsK8ABdSMiJzgQfsh67Zx2/p73Qq5hYr3vMx7U5HCiN+JC6w6CgP+WMZQ06yLDDK8Th+ZNPGQsO3O8Op/+w1KSbad/vqp5Em1R913u9sNlH7CAGRe3mFGNcar+Ze9oJvCDcAmTasawQztumvEdQUDIOarb5yiwzxhNsy6w/aS/gAjukfRv+3NadhplzMuCLdrQjzp/RM17KbAKNQYMhmH530XV2wCy6rncf3QOo4DXOkWEu42VO3gps9f5avXy6B6ZnHSKvRw0I0Ii1Ewin4zuYRSGOwJEBAhdDXvkp9/gUgRIpQGhqNqdG9Dg3mP72N7qpf1QjYZ5ibJQ3vL7wMtuyZKix4J9us9J/71l9XU/boZ/4zjIgoh+C6J/JJV8srrrgLreDOwdlp1WpPt4HMN/gwd3Gj015ZbLvCFmRqsc83QR2nMqaKQy31Fz2KjhgQi7pgvrxHIJc4R2vicej3hC/0zJl+RyrRPNLkQzp1udmTuFUY8kUZSWnfFWHM5dx/ltzDOku//MRRxN+FAzlyPlJukSPf9vgqtXIq24YtFin/qwTUCEDOsBI2Jzhd1hkZkalOX6c1Xz9DYTUhc/gMQY=
    - secure: Ni9mZBdS104XW9lyNwbODFgMtgIT3874/HbMOExikoS6UPXKFSeJsryQ2AN3xbBC5ZnEWgV6GXECi15b/1S37Db2pBbfM1j3PJhI/gA448OAP+6KWVbDxUH1POCHBb9DRwCQ/YGYdax/QZBxsZlMrSDZUsr9xq/s/E8q1amwpaNY8nOKR28WshXZTEYG8grPj0Fu97iyVglMBi9YLaRUpQLO7ZMRa08AdqBZqrRw2KdQXB5rzNiYME6ENF3BeXKfbWxKLHt1KP6U1x6zQl4WPSHTLpjBAesfTIDOMsPh0aTKTLKqx2MOctfYi3jeCkQl/Ez7PAxYaCWyN61DGSC0YbbalWdYDVgvpa92hG2SyBqWDb2IPFBSar78GUadlO3hP4KWoXc80/YWxqyhkbZBmoUFS3+jSzn+KMOesULO6uGIT2I6T9D0FvH7r4Mx+d+JQYWi2YdwkKJcXUwOPKOJ1XyPfmVigSxdRY+5uYK/Zx64/flkKgecfzLmAvrXt8I5bw8K6A/MK0f/6SuYpXOQH9nRw8pEVwyWU3qND/jQjlTpZnmGAZm2PQs+lxZjXUD6YLwTbIPHpXOHAKAtkMJC9EUUPyEaXtY6XiBMPkj/d/MouS1evOcwm3P5FMoeOj33+Axazw8WSW1MnxmR7FPXGbdlteuUORqKA6QP4jeplnc=

script:
  - env GO111MODULE=on go test -race -coverprofile=coverage.txt -covermode=atomic -coverpkg=./... ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)
