{{ define "main" }}
{{ template "commercetools_product_type" }}
{{ template "commercetools_category" }}
{{ template "commercetools_tax_category" }}
{{ template "commercetools_state" }}
{{ template "commercetools_product" . }}
{{ end }}