name: Run Tests

on: [push]

jobs:

  test:
    runs-on: ubuntu-latest

    services:
      commercetools:
        image: labdigital/commercetools-mock-server
        ports:
        - 8989:8989

    strategy:
      max-parallel: 4
      matrix:
        go-version: [1.19]

    steps:
    - uses: actions/checkout@v3

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.3.7

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        args: --issues-exit-code=0 --timeout=5m

    - name: Run tests
      run: go test -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... -v ./...
      env:
        TF_ACC: 1
        CTP_CLIENT_ID: unittest
        CTP_CLIENT_SECRET: x
        CTP_PROJECT_KEY: unittest
        CTP_SCOPES: manage_project:unittest
        CTP_API_URL: http://localhost:8989
        CTP_AUTH_URL: http://localhost:8989

    - name: Upload to codecov
      uses: codecov/codecov-action@v3
      with:
        verbose: true
