name: Run Tests

on: [push]

jobs:

  test:
    runs-on: ubuntu-latest

    services:
      commercetools:
        image: labdigital/commercetools-mock-server
        ports:
        - 8989:8989

    steps:
    - uses: actions/checkout@v4

    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.3.7
        terraform_wrapper: false

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Set up Task
      uses: arduino/setup-task@v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: golangci-lint
      continue-on-error: true
      uses: golangci/golangci-lint-action@v6
      with:
        args: --issues-exit-code=0 --timeout=5m

    - name: Run tests
      run: go test -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... -v ./...
      env:
        TF_ACC: 1
        CTP_CLIENT_ID: unittest
        CTP_CLIENT_SECRET: x
        CTP_PROJECT_KEY: unittest
        CTP_SCOPES: manage_project:unittest
        CTP_API_URL: http://localhost:8989
        CTP_AUTH_URL: http://localhost:8989

    - name: Upload to codecov
      uses: codecov/codecov-action@v4
      with:
        verbose: true

    - name: build binary
      uses: goreleaser/goreleaser-action@v6
      with:
        args: build --snapshot --clean --single-target
      env:
        GOPATH: ${{ env.GOPATH }}

  changie:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare release
        uses: labd/changie-release-action@v0.5.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          release-workflow: 'release.yaml'
